[submodule "cl-news"]
	path = cl-news
	url = https://github.com/VityaKnyazev/cl-news
[submodule "cl-users"]
	path = cl-users
	url = https://github.com/VityaKnyazev/cl-users
[submodule "cl-config"]
	path = cl-config
	url = https://github.com/VityaKnyazev/cl-config
